// $color-grey-dark-1: #222222;
$color-calendar-graph-day-bg: #272b33;
$color-calendar-graph-day-L1: #0e4429;
$color-calendar-graph-day-L2: #006d32;
$color-calendar-graph-day-L3: #26a641;
$color-calendar-graph-day-L4: #39d353;




// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;




html {

    box-sizing: border-box;
    font-size: 62.5%;


    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;

    }



    @media only screen and (max-width: $bp-medium) {
        font-size: 45%;
    }





}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}






.bg-day {
    background-color: $color-calendar-graph-day-bg;

    &--L1 {

        background-color: $color-calendar-graph-day-L1;
    }

    &--L2 {

        background-color: $color-calendar-graph-day-L2;
    }

    &--L3 {
        background-color: $color-calendar-graph-day-L3;

    }

    &--L4 {
        background-color: $color-calendar-graph-day-L4;

    }

}



.wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: rgb(51, 51, 51);


    height: 100vh;

}

.container {

    color: white;
    display: grid;
    grid-template-rows: [first-row-start]min-content [first-row-end second-row-start] min-content [second-row-end last-row-start] 1fr[last-row-end];
    grid-template-columns: [first-col-start]20px[first-col-end calender-start] repeat(53, 10px) [calender-end];
    column-gap: 4px;
    row-gap: 4px;
    border-radius: 1rem;

    padding: 5px 10px 5px 10px;
    // width: 50%;


    @media only screen and (max-width: $bp-small) {
        // grid-template-columns: [first-col-start]4rem[first-col-end calender-start] repeat(53, 1rem) [calender-end];
        // column-gap: 4px;
        overflow: hidden;
        overflow-x: scroll;


        // grid-template-columns: [first-col-start]4rem[first-col-end] repeat(auto-fill, 1rem);
    }


    // overflow: hidden;
    // overflow-x: scroll;

    // background-color: black;

    background: rgba(0, 0, 0, 0.674);
    // border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}



.calender-day-label {
    grid-column: first-col-start/first-col-end;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    align-items: center;

    &__name {
        // transform: translateY(-90%);
        font-size: 1rem;
        transform: translateY(-30%);
        // background-color: red;
    }
}

.calender-week {
    grid-row: 2/-1;

    display: grid;
    // grid-template-columns: 20px;
    // grid-template-rows: [first-row-start]minmax(20px, min-content)[first-row-end] repeat(6, minmax(20px, min-content));
    grid-template-columns: 10px;
    grid-template-rows: [first-row-start]minmax(10px, min-content)[first-row-end] repeat(6, minmax(10px, min-content));

    row-gap: 2.5px;




    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 10px;
        grid-template-rows: [first-row-start]minmax(10px, min-content)[first-row-end] repeat(6, minmax(10px, min-content));

        row-gap: 2.5px;
    }


    &__month {

        margin-left: 12px;


        // width: 8rem;
        grid-column: span 1;
        grid-row: 1 / span 1;
        font-size: 1rem;
        display: grid;
        grid-template-columns: 4.5rem;
        column-gap: 10px;




    }


}


.container:hover>.calender-week>.calender-day:not(:hover) {
    transition: opacity .9s;
    // opacity: .5;
}

div.remove-outline {

    outline: none;
}

.calender-day {
    cursor: pointer;
    font-size: 4px;

    text-align: center;
    border-radius: 2px;
    // border: 1px solid currentColor;
    position: relative;
    opacity: 1;

    // outline: -.5px solid $color-calendar-graph-day-L1;

    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 10s;
    // z-index: 100;

    &:hover {
        transition: all 10s;
    }

    &:hover>&__text-container {
        // width: 100%;
        opacity: 1;
        visibility: visible;
        background-color: rgba(255, 255, 255, 1);
        transform: translate(-49%, 0%)scaleY(1);


    }

    &__text-container {
        position: absolute;

        // width: 0%;
        line-height: .9;
        // width: 200px;
        padding: 2px 5px;

        color: black;
        height: 20px;
        top: -20px;
        left: 50%;
        transform: translate(-49%, 100%) scaleY(0);
        background-color: black;
        font-size: 12px;
        white-space: nowrap;
        opacity: 0;
        z-index: 2;
        // outline: 5px inset $color-calendar-graph-day-L1;
        visibility: hidden;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 75%, 49% 100%, 48% 75%, 0% 75%);
        transition: all .5s;
        // max-width: 1000px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        transform-origin: top;

    }

    &__text {
        align-self: center;
        // width: 200px;
        // max-width: 1000px;
        // height: 30px;
        line-height: .9;

        // z-index: 200000;
        // opacity: 0;

    }

    &__label {}






    // @media only screen and (max-width: $bp-small) {
    //     grid-template-columns: 10px;
    //     grid-template-rows: [first-row-start]minmax(10px, min-content)[first-row-end] repeat(6, minmax(10px, min-content));

    //     row-gap: 2.5px;
    // }

}


.bottom-row {

    grid-row: -1;
    grid-column: 2 /span end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // padding: 0px 5px;
    padding-top: 4px;
    // background-color: red;
}


.example-size {
    width: 10px;
    height: 10px;
}

.example-container {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    align-items: center;
}

.github-mark {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: contain;
    background-image: url(./github-mark-white.png);

}