// $color-grey-dark-1: #222222;
$color-calendar-graph-day-bg: #272b33;
$color-calendar-graph-day-L1: #0e4429;
$color-calendar-graph-day-L2: #006d32;
$color-calendar-graph-day-L3: #26a641;
$color-calendar-graph-day-L4: #39d353;

$small-tile-size: 15px;
$small-tile-size-sm: 10px;

.react-github-activity-calendar-bg-day {
  background-color: $color-calendar-graph-day-bg;

  &--L1 {
    background-color: $color-calendar-graph-day-L1;
  }

  &--L2 {
    background-color: $color-calendar-graph-day-L2;
  }

  &--L3 {
    background-color: $color-calendar-graph-day-L3;
  }

  &--L4 {
    background-color: $color-calendar-graph-day-L4;
  }
}

.react-github-activity-calendar-container {
  max-width: 1053px;
  width: 100%;
  color: white;
  display: grid;
  grid-template-rows: [first-row-start]min-content [first-row-end second-row-start] min-content [second-row-end last-row-start] 1fr[last-row-end];
  grid-template-columns:
    [first-col-start]20px[first-col-end calender-start] repeat(
      53,
      $small-tile-size
    )
    [calender-end];
  column-gap: 4px;
  row-gap: 4px;
  border-radius: 1rem;

  padding: 5px 10px 5px 10px;
  // width: 50%;
  overflow: hidden;
  overflow-x: scroll;

  // @media only screen and (max-width: 75em) {
  //     // grid-template-columns: [first-col-start]4rem[first-col-end calender-start] repeat(53, 1rem) [calender-end];
  //     // column-gap: 4px;
  //     grid-template-columns: [first-col-start]20px[first-col-end calender-start] repeat(53, $small-tile-size-sm) [calender-end];
  //     overflow: hidden;
  //     overflow-x: scroll;

  // }

  background: rgba(51, 51, 51, 0.99);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

  border: 1px solid rgba(255, 255, 255, 0.3);
}

.react-github-activity-calendar-calender-day-label {
  grid-column: first-col-start/first-col-end;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  align-items: center;

  &__name {
    font-size: 10px;
    transform: translateY(-100%);
  }
}

.react-github-activity-calendar-calender-week {
  grid-row: 2/-1;

  display: grid;
  grid-template-columns: $small-tile-size;

  grid-template-rows: [first-row-start]minmax($small-tile-size, min-content) [first-row-end] repeat(
      6,
      minmax($small-tile-size, min-content)
    );
  // grid-template-columns: 10px;
  // grid-template-rows: [first-row-start]minmax(10px, min-content)[first-row-end] repeat(6, minmax(10px, min-content));

  row-gap: 2.5px;

  // @media only screen and (max-width: 75em) {
  //     grid-template-rows: [first-row-start]minmax($small-tile-size-sm, min-content)[first-row-end] repeat(6, minmax($small-tile-size-sm, min-content));

  //     grid-template-columns: $small-tile-size-sm;
  // }

  // @media only screen and (max-width: $bp-small) {
  //     grid-template-columns: 10px;
  //     grid-template-rows: [first-row-start]minmax(10px, min-content)[first-row-end] repeat(6, minmax(10px, min-content));

  //     row-gap: 2.5px;
  // }

  &__month {
    margin-left: 12px;

    // width: 8rem;
    grid-column: span 1;
    grid-row: 1 / span 1;
    font-size: 10px;
    display: grid;
    grid-template-columns: 45px;
    column-gap: 10px;
  }
}

.react-github-activity-calendar-container:hover
  > .react-github-activity-calendar-calender-week
  > .react-github-activity-calendar-calender-day:not(:hover) {
  transition: opacity 0.9s;
}

div.react-github-activity-calendar-remove-outline {
  outline: none;
}

.react-github-activity-calendar-calender-day {
  cursor: pointer;
  font-size: 4px;

  text-align: center;
  border-radius: 2px;
  // border: 1px solid currentColor;
  position: relative;
  opacity: 1;

  outline: 1px inset rgba(33, 33, 33, 0.1);

  border: 1px solid rgba(33, 33, 33, 0.1);
  transition: all 10s;
  // z-index: 100;

  &:hover {
    transition: all 2s;
    // transform: scale(2);
  }

  &:hover > &__text-container {
    // width: 100%;
    opacity: 1;
    visibility: visible;
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-49%, 0%) scaleY(1);
  }

  &__text-container {
    position: absolute;

    // width: 0%;
    line-height: 0.9;
    // width: 200px;
    padding: 2px 5px;

    color: black;
    height: 20px;
    top: -20px;
    left: 50%;
    transform: translate(-49%, 100%) scaleY(0);
    background-color: black;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    z-index: 2;
    outline: 1px inset $color-calendar-graph-day-L1;
    visibility: hidden;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      50% 75%,
      49% 100%,
      48% 75%,
      0% 75%
    );
    transition: all 0.5s;
    // max-width: 1000px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    transform-origin: top;
  }

  &__text {
    align-self: center;
    // width: 200px;
    // max-width: 1000px;
    // height: 30px;
    line-height: 0.9;
    padding: 1px;

    // z-index: 200000;
    // opacity: 0;
  }

  &__label {
  }

  // @media only screen and (max-width: $bp-small) {
  //     grid-template-columns: 10px;
  //     grid-template-rows: [first-row-start]minmax(10px, min-content)[first-row-end] repeat(6, minmax(10px, min-content));

  //     row-gap: 2.5px;
  // }
}

.react-github-activity-calendar-bottom-row {
  grid-row: -1;
  grid-column: 2 / span end;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  // padding: 0px 5px;
  padding-top: 4px;

  &__link:link,
  &__link:visited {
    color: currentColor;
    text-decoration: none;
    // text-transform: uppercase;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  // background-color: red;
}

.react-github-activity-calendar-example-size {
  width: 10px;
  height: 10px;
  font-size: 10px;
}

.react-github-activity-calendar-less-more-container {
  // text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
}

.react-github-activity-calendar-github-mark {
  grid-row: 1;
  // grid-column: -1;
  transform: translateY(-50%);
  color: inherit;
  // align-content: center;
  justify-self: start;
  display: inline-block;
  width: 12px;
  fill: currentColor;
  height: 12px;

  &:hover {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    transform: scale(1.2);
  }
}

.react-github-activity-calendar-container::-webkit-scrollbar {
  height: 4px;
}

.react-github-activity-calendar-container::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(255, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.react-github-activity-calendar-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  width: 10px;

  background-color: rgba($color-calendar-graph-day-L2, 0.8);
  // border-radius: 16px;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(5px);
  // -webkit-backdrop-filter: blur(5px);
  border: 0.4px solid rgba($color-calendar-graph-day-L2, 0.6);
}
